@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}

* {
    padding: 0 0;
    font-family:  Montserrat, sans-serif;
    font-size: 20px;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

html {
    min-width: 550px;
}

@keyframes showcontent {
    100% {background-color: #45d1db;}
}

@keyframes scroll-anim {
    100% {
        opacity: 100%;
        transform: translateY(-25px);
    }
}

.img-smooth {
    animation-name: scroll-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 100ms;
}

/*product buttons*/

.btn-secondary{
    background-color: #9cc49c;
    margin-top: 2px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    color: #2d3436;
    text-decoration: none;
    font-weight: lighter;
    border-radius: 5px;
}

.btn-secondary:hover{
    background-color: #6b836b;
}

.btn-third{
    background-color: #EB6363;
    margin-top: 2px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    color: #2d3436;
    text-decoration: none;
    font-weight: lighter;
    border-radius: 5px;
}

.btn-third:hover{
    background-color: #cc5252;
}
 .background{
    background-color:#F8E2C4;
    background-image: url(../images/bgImage.webp);
    background-size: 75%;
    background-position-x: center;
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin: 0 0;
 }

/* NAVBAR SECTION */

.banner {
    width: 350px;
    top: 0;
}
.promobar {
    animation: promo-animation 8s linear infinite;
    background: linear-gradient(45deg, rgb(255, 157, 157),rgb(255, 255, 144),rgb(134, 255, 134),rgb(158, 158, 255),rgb(215, 160, 255),rgb(255, 171, 255), rgb(255, 157, 157),rgb(255, 255, 144),rgb(134, 255, 134),rgb(158, 158, 255),rgb(215, 160, 255),rgb(255, 171, 255), rgb(255, 157, 157),rgb(255, 255, 144),rgb(134, 255, 134),rgb(158, 158, 255),rgb(215, 160, 255),rgb(255, 171, 255));
    background-size: 200% 200%;
    width: 100%;
    height: 50px;
    z-index: 102;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    position: fixed;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.447);
}

@keyframes promo-animation {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 36% 50%;
	}
    0% {
		background-position: 74% 50%;
	}
}

.promobar p{
    font-size:30px;
    text-align:center; 
    margin-top:8px;
    font-weight: bold;
}

.navbar {
    width: 100%;
    height: 89px;
    z-index: 101;
    position: fixed;
    background-color: #85f7ff;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.447);
}

.navlinks a {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3%;
    font-size: 30px;
    border-radius: 10px;
    padding: 1%;
    color: #1c494b;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.307);
}

.navlinks a:hover, .navbar a:focus {
    color: #193d40;
    animation-name: showcontent;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.navlinks {
    width: 100%;
    text-align: right;
    float: right;
}
.menu {
    position: absolute;
    right: 20px;
}

.menu-lines {
    display: none;
}


/* Small screen width dropdown */

.three-line-menu {
    width: 63px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.tlm-line {
    width: 50px;
    height: 10px;
    margin: 10%;
    background-color: rgb(17, 7, 60);
    border-radius: 5px;
    pointer-events: none;
}

@media (max-width: 750px) {
    .navlinks {
        display: none;
    }

    .menu-lines {
        display: inline-block;
        position: relative;
    }
}

.three-line-menu:hover, .three-line-menu:focus {
    cursor: pointer;
    animation-name: showcontent;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EB6363;
    min-width: 120px;
    z-index: 2;
    right: 0;
    border: 1px outset black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    font-weight: bolder;
    padding: 12px 12px;
    color: #561d1d;
    text-decoration: none;
    display: block;
    border-radius: inherit;
    text-align: right;
}

.dropdown-content a:hover, .dropdown-content a:focus {
    background-color: #682a2a;
    color: #d17171;
}

.dropdown-img {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 10px;
    margin-left: 4px;
    pointer-events: none;
}

.show {
    display: block;
}

/* End of small screen section */

h2 {
    font-weight: lighter;
    font-size: 5vw;
    color: #192D34;
    text-shadow: 2px 2px 3px rgba(40, 40, 40, 0.352);
}

.img-respond {
    max-width: 32vw;
    max-height: 24vw;
    display: inline-block;
    margin: 2%;
}

.img-respond-small {
    padding-top: 50px;
    max-width: 10vw;
    margin: none;
}

.img-curve {
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(63, 63, 63);
}

.featured-img {
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
}

.featured-img:hover {
    transform: translate(-5px, -10px);
    box-shadow: 10px 12px 5px rgba(63, 63, 63);
}

.img-spacing {
    opacity: 0%;
    margin: 2%;
    width: 30%;
    display: inline-block;
}


/*Center*/

.center {
    text-align: center;
}


/* Shop Page */

.ddropdown {
    font-size: 20px;
    margin-right: 2%;
    width: 200px;
}

.pro-tbl {
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
    width: 100%;
}

.pro-tbl td {
    padding-right: 0%;
}

/*sort by category*/

.ddropdown-content {
    display: none;
    position: absolute;
    background-color: #EB6363;
    min-width: 120px;
    z-index: 1;
    right: 0;
    font-size: 15px;
    margin-right: 2%;
    width: 20%;
    overflow: auto;
    border: 1px outset black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.ddropdown:hover .ddropdown-content {
    display: block;
}
.ddropdown-content a {
    display: block;
    text-decoration: none;
    font-weight: bolder;
    color: #561d1d;
    text-decoration: none;
    text-align: right;
    padding: 12px 12px;
    border-radius: inherit;
}
.ddropdown-content a:hover {
    background-color: #682a2a;
    color: #d17171;
}


/* Order Info */

.ordering {
    border-right: 1px solid rgb(95, 95, 95);
    padding: 1%;
    font-size: 3vw;
    margin-left: .77%;
    font-weight: lighter;
}

.container {
    width: 75%;
    height: 0.5vh;
    display: inline-block;
    text-align: center;
    margin: 11.73%;
}

/* Rock Table */

.info-tbl {
    display: flex;
    justify-content: center;
}

/* About Page */

.about-text {
    margin: 5%;
    padding-right: 30%;
    padding-left: 10%;
}
.about-text p{
    padding-top: 1rem;
}

.footer{
    border-top: 150px;
    bottom: 0;
    width: 100%;
    height: 13rem;
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.1));
    background-size: 100% 13rem;
}
